/*Fonte:  https://codepen.io/tonkec/pen/aRMaWR*/

nav {
  z-index: 100;
  position: fixed;
  top: 0;
}

.aside-section {
  top: 0;
  bottom: 0;
  position: fixed;
  /*font-family: serif;*/
}

.aside-left {
  display: none;
  width: 40%;
  left: 0;
  background-color: rgba(66, 8, 8);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
}

.aside-right {
  width: 100%;
  right: 0;
  background-color: #212529;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  font-family: serif;
}

.aside-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 350px; /*150px*/
  text-align: left;
  padding-left: 50px;
}

.aside-content {
  margin-top: 350px; /*150px*/
  padding: 0 40px;
  position: relative;
  color: white;
  text-align: right;
}

.aside-list li {
  margin-bottom: 42px;
}

.aside-anchor::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: transparent;
  left: 0;
  right: 0;
  height: 3px;
  border-radius: 3px;
}

.aside-anchor::before {
  border-radius: 3px;
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #fff;
  left: 0;
  height: 2px;
  z-index: 1;
  width: 50%;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.aside-anchor:hover:before {
  width: 100%;
}

.aside-anchor {
  padding-bottom: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  position: relative;
  font-weight: 500;
  color: white !important;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ aside .aside-left {
  transform: translateY(0%);
}

input[type="checkbox"]:checked ~ aside .aside-right {
  transform: translateX(0%);
}

input[type="checkbox"]:checked ~ label .bar {
  background-color: #fff;
}

input[type="checkbox"]:checked ~ label .top {
  -webkit-transform: translateY(0px) rotateZ(45deg);
  -moz-transform: translateY(0px) rotateZ(45deg);
  -ms-transform: translateY(0px) rotateZ(45deg);
  -o-transform: translateY(0px) rotateZ(45deg);
  transform: translateY(0px) rotateZ(45deg);
}

input[type="checkbox"]:checked ~ label .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

input[type="checkbox"]:checked ~ label .middle {
  width: 0;
}

.middle {
  margin: 0 auto;
}

label {
  top: 10px;
  display: inline-block;
  padding: 7px 10px;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  z-index: 3;
  position: fixed;
}

.bar {
  display: block;
  /*background-color: #38618c;*/
  background-color: white;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  margin: 5px auto;
  transition: background-color 0.4s ease-in, transform 0.4s ease-in,
    width 0.4s ease-in;
}

.button {
  display: inline-block;
  background-image: none;
  border: none;
  background-color: transparent;
  padding-bottom: 7px;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  color: white;
  padding: 7px 50px;
  border: 2px solid white;
}

.menu-span-left {
  color: white;
  font-size: 15pt;
  /*font-weight: bold;*/
}

nav .nav-link {
  margin-bottom: 12pt;
}

@media (min-width: 992px) {
  .aside-left {
    display: block;
  }

  .aside-right {
    width: 60%;
  }
}
