#div-integrantes {
    background-color: rgba(66, 8, 8, 0.753);
}

#bg-sobre {
    padding-top: 40px;
    background-image: url(./fotos/foto-banda.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: cover;
    background-position: center;
}

.bg-foto{
    color: rgb(206, 206, 206);
}

.textos-titulos {
    text-align: center;
    margin-bottom: 30px;
}

.musica-svg {
    margin: 0 5px 5px 0;
    width: 25px;
    height: 25px;
}

.redes-sociais {
    width: 18px;
    height: 18px;
}

.redes-sociais:hover{
    width: 25px;
    height: 25px;
}