html {
    overflow-x: hidden;
    max-width: 100%;
}
/*
#bg-sobre {
    border-top: 1px solid rgb(185, 185, 185);
    border-bottom: 1px solid rgb(185, 185, 185);
}*/

#div-integrantes {
    background-color: rgba(66, 8, 8, 0.753);
}
/*
.borda-integrantes {
    border: 1px solid rgb(185, 185, 185);
}*/

p {
    color: rgb(206, 206, 206);
}

.textos-titulos {
    text-align: center;
    margin-bottom: 30px;
    font-size:  2.5em;
}

.musica-svg {
    margin: 0 5px 5px 0;
    width: 30px;
    height: 30px;
}

.redes-sociais {
    margin-left: -8px;
}

.redes-sociais img {
    width: 26px;
    height: 26px;
}

.redes-sociais-menu img{
    width: 35px;
    height: 35px;
}

.full-height {
    height: 100vh !important;
    overflow-y: hidden;
}

#sobre-social-media {
    margin-bottom: 12px;
    margin-top: 15px;
    padding-top: 12pt;
}

ul.text-center {
    padding-left: 0;
}

h1 {
    position: absolute;
    z-index: 10;
    width: 100vw;
    top: 45vh;
    text-align: center;
    color: white;
    font-family: serif;
    font-size: 4em;
}
.carousel-item img {
    height:  auto;
    /*height: 100vh !important;*/
    min-height: 100vh;
    max-height:  100vh;
    width: auto !important;
    min-width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.contact-item {
    color:  white;
}

@media only screen and (max-width: 600px) {
    .full-height-xl {
        height: 100vh;
    }
    .carousel-item img {
        height: 90vh !important;
        width:  auto !important;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    h1 {
        font-size: 2em;
    }
}

@media only screen and (min-width: 601px) {
    .redes-sociais:hover img{
        width: 30px;
        height: 30px;
        margin-top: -2px;
        margin-bottom: -2px;
    }

    .redes-sociais:hover {
        font-size: 1.1em;
        font-weight: 550;
        margin-bottom: -.07em;
    }

    .redes-sociais-menu img:hover{
        width: 45px;
        height: 45px;
        margin: -5px;
    }
}