#bg-sobre {
    border-top: 1px solid rgb(185, 185, 185);
    border-bottom: 1px solid rgb(185, 185, 185);
}

#div-integrantes {
    background-color: rgba(66, 8, 8, 0.753);
}

.borda-integrantes {
    border: 1px solid rgb(185, 185, 185);
}

p {
    color: rgb(206, 206, 206);
}

.textos-titulos {
    text-align: center;
    margin-bottom: 30px;
}

.musica-svg {
    margin: 0 5px 5px 0;
    width: 25px;
    height: 25px;
}

.redes-sociais {
    width: 20px;
    height: 20px;
}

.redes-sociais:hover{
    width: 26px;
    height: 26px;
}